@import "tailwindcss";

:root {
  --black: #000000;
  --dark-blue: #14213D;
  --yellow: #FCA311;
  --light-gray: #E5E5E5;
  --white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #E5E5E5;
  }
}

body {
  background: var(--black);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
