@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --black: #000000;
  --dark-blue: #14213D;
  --yellow: #FCA311;
  --light-gray: #E5E5E5;
  --white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-blue);
    --foreground: #E5E5E5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
